
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  margin-left: 20px;
}

body{
  font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff; 
  margin: 10px;
}

.activity {
  background-color: #fff;
  width: 550px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 12px;
}

.activity h4{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding-block: 19px;
  border-bottom: 1 px solid #EAEAEA;
}

.activity ul { 
  margin: 0;
  list-style: none;
}

.activity li {
  color: #807E7E;
  border-bottom: 1 px solid #EAEAEA;
  font-size: 14px;
 padding-block: 14px;
 line-height: 22px;
}

.activity li strong {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.no-border {
border:0 !important;
} 